include card 

mixin body
    .cards
        +card("../../res/img/apart1.jpg", "SUPER HOST")
        +card("../../res/img/apart2.jpg", "SUPER HOST")
        +card("../../res/img/apart3.jpg")
        +card("../../res/img/apart4.jpg")
        +card("../../res/img/apart5.jpg")
        +card("../../res/img/apart6.jpg")

