@use 'header-base';

header{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 3%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.nav {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 0;
    border-radius: 20px;
    border-color: none;
    box-shadow:0px 1px 22px -7px rgba(0,0,0,0.2);
    &-item {
        margin: 0 1.5rem;
    }
    &-link {
        &.item1 {
            color: #333333;
        }
        &.item2 {
            color:#BDBDBD;
        }        
    }
}
.logo{
    width: 120px;
}