@use 'content-wrap-base';

content-title{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 3%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
